# MTK project .rc configure

import init.mt6795.usb.rc

#ifdef VENDOR_EDIT
#add by jivin.shen@powermo.com for multiscreen
import init.powermo.rc
#endif VENDOR_EDIT


on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root 

#Haitao.Zhou@Prd.BaseDrv, 2015/04/13, Add for merging T-base start
on fs
	write /proc/bootprof "start mobicore (on fs)"
	mkdir /data/app/mcRegistry 0770 system system
	mkdir /data/app/mcRegistry/TbStorage 0770 system system
	chmod 0600 /dev/mobicore
	chown system system /dev/mobicore
	chmod 0666 /dev/mobicore-user
	chown system system /dev/mobicore-user
	#MobiCore Daemon Paths
	export MC_AUTH_TOKEN_PATH /efs
	start mobicore
	write /proc/bootprof "start mobicore end (on fs)"
#Haitao.Zhou@Prd.BaseDrv, 2015/04/13, Add for merging T-base end
    
on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2


# STP, WMT, GPS, FM and BT Driver
#   insmod /system/lib/modules/mtk_hif_sdio.ko
#   insmod /system/lib/modules/mtk_stp_wmt.ko
#   insmod /system/lib/modules/mtk_stp_uart.ko
#   insmod /system/lib/modules/mtk_stp_gps.ko
#   insmod /system/lib/modules/mtk_stp_bt.ko
#   insmod /system/lib/modules/mtk_fm_drv.ko
#   insmod /system/lib/modules/mtk_wmt_wifi.ko

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm
    
# Create char device file for WMT, GPS, BT, FM, WIFI
    mknod /dev/stpwmt c 190 0;
#    mknod /dev/stpgps c 191 0;
#    mknod /dev/stpbt  c 192 0;

    chmod 0660 /dev/stpwmt
    chown system system /dev/stpwmt
    
#    chmod 0660 /dev/wmtdetect
#    chown system system /dev/wmtdetect
 		
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi
#Camera
    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF
   
    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF
    
    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF
    
    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF
    
    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/LC898122AF
    chown system camera /dev/LC898122AF

# BT
#    chmod 0660 /dev/stpbt
#    chown bluetooth radio /dev/stpbt

# GPS
#    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
#    chmod 0660 /dev/stpgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi 
    chown wifi wifi /data/misc/wifi

# ANT
	chmod 0660 /dev/stpant
	chown ant radio /dev/stpant

#Disable for one Single loader
# Load WiFi Driver
#   insmod /system/lib/modules/wlan_mt.ko

# Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

#
# Connectivity related device nodes & configuration (end)
#

# Encrypt phone function
    setprop vold.post_fs_data_done 1
	
#ifdef VENDOR_EDIT
#jianrong.zheng@Android,2015/04/29,add for LaserFocusCalibrate
    chmod 0660 /dev/stmvl6180
    chown system system /dev/stmvl6180
#endif	

#ifdef VENDOR_EDIT
#wensheng.zha@AudioDrv,2014/10/21,add for tfa9890
    chmod 0660 /dev/i2c0_tfa9890
    chown root audio /dev/i2c0_tfa9890
#endif

#ifdef VENDOR_EDIT 	
#Ziqing.Guo@Prd.BaseDrv, 2015/6/16, Add for SensorSelfTest	
    chown system system /sys/bus/platform/drivers/als_ps/cali	
#endif

#ifdef VENDOR_EDIT 	
#Ziqing.Guo@Prd.BaseDrv, 2015/08/19, Add for ALS SensorSelfTest	
    chown system system /sys/bus/platform/drivers/als_ps/gain_als	
#endif

#ifdef VENDOR_EDIT
#Haitao.Zhou@Prd.BaseDrv, 2015/04/14, Add for changing normal world fpc dev start
	chown system system /dev/fpc1020
	chmod 0660 /dev/fpc1020
	
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/diag/spi_register
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/diag/spi_data
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/adc_gain
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/adc_shift
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_col_groups
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_col_start
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_count
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_mode
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_row_count
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_row_start
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/capture_settings_mux
	chown system system /sys/bus/spi/drivers/fpc1020/spi0.0/setup/pxl_ctrl
#endif

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through 
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    # 
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

#
# Connectivity related services (Begin)
#

service wmt_loader /system/bin/wmt_loader
	class core
	user root
	group root
	oneshot

service 66xx_launcher /system/bin/6620_launcher -m 4 -p /system/etc/firmware/
    user system
    group system
    class core

on property:persist.mtk.wcn.combo.coredump=yes
start stp_dump

service stp_dump /system/bin/stp_dump3
	user root
	group root
	class core
	disabled
	oneshot

#
# Connectivity related services (End)
#

#Haitao.Zhou@Prd.BaseDrv, 2015/04/13, Add for merging T-base start
#start Daemon (Registry directories should already be present)
service mobicore /system/bin/mcDriverDaemon -r /system/app/mcRegistry/020f0000000000000000000000000000.drbin -r /system/app/mcRegistry/05120000000000000000000000000000.drbin -r /system/app/mcRegistry/030b0000000000000000000000000000.drbin -r /system/app/mcRegistry/04020000000000000000000000000000.drbin
	user system
	group system
	class core
	oneshot
#Haitao.Zhou@Prd.BaseDrv, 2015/04/13, Add for merging T-base end



#ifdef VENDOR_EDIT
#Fanhong.Kong@ProDrv.CHG, 2015/3/26, add for 8928 otg
on property:persist.sys.oppo.otg_support=true
write /sys/class/power_supply/usb/otg_switch 1
write /sys/class/udc/musb-hdrc/device/idpolling 1

on property:persist.sys.oppo.otg_support=false
write /sys/class/power_supply/usb/otg_switch 0
write /sys/class/udc/musb-hdrc/device/idpolling 0
#endif /*VENDOR_EDIT*/

#ifdef VENDOR_EDIT
#wangjw@Android add for restart adbd service
on property:sys.oppo.adbd=1
	stop adbd
	start adbd
#endif /*VENDOR_EDIT*/	

#ifdef VENDOR_EDIT
#JianRong.Zheng@Swdp.Android.Power, 2015/01/26, Add for 
on property:ro.build.type=user
	write /proc/sys/kernel/printk  "1 4 1 6"
	write /proc/oppo_log_switch/kernel 0

on property:debug.MB.running=1
    write /proc/oppo_log_switch/kernel 1
on property:debug.MB.running=0
    write /proc/oppo_log_switch/kernel 0
#endif /* VENDOR_EDIT */

#ifdef VENDOR_EDIT
#Horn@Swdp.Android.Boot, 2015-04-25, for oppo sepolicy 
on property:persist.sys.adbroot=1
	setprop selinux.reload_policy 1
#endif

#ifdef VENDOR_EDIT
#ziqing.guo@BasicDrv.Sensor, 2015/8/19, add for als calibration
service nvram_als /system/bin/nvram_als
	user root
    group system 
    oneshot
    disabled
on property:service.nvram_init=Ready
	start nvram_als
#endif

